*.pyc
*.sublime-project
*.sublime-workspace
*.db
*.blend[0-9]*

webservice/venv/
docs/venv/
docs/build/
client/venv/

client/client/config.json
webservice/bam/config.py

# generated
doc/source/reference/index.rst
